<% provide(:title, "アカウント情報") %>
<% breadcrumb :users_account %>
<div class="whole">
  <div class="flash-blue">
    <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
  </div>
  <div class="flash-red">
    <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
  </div>
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <h2>アカウント情報</h2>
      <p>アカウント情報では、現在登録中の情報をご確認いただけます。編集する場合は、編集するボタンをクリックしてください。</p>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <div class="form-line">
        <div class="form-line-left">
          <p>アイコン</p>
        </div>
        <div class="form-line-right">
          <% if @user.image.present? %>
            <%= image_tag @user.image, alt: "#{@user.name}のユーザーアイコン" %>
          <% else %>
            <%= image_tag "/user_image/user_image_default_bk.png", alt: "デフォルトユーザーアイコン" %>
          <% end %>
        </div>
      </div>
      <div class="form-line">
        <div class="form-line-left">
          <p>ユーザー名</p>
        </div>
        <div class="form-line-right">
          <p><%= @user.name %></p>
        </div>
      </div>
      <div class="form-line">
        <div class="form-line-left">
          <p>プロフィール</p>
        </div>
        <div class="form-line-right">
          <p><%= @user.profile.present? ? @user.profile : "未設定" %></p>
        </div>
      </div>
      <div class="form-line">
        <div class="form-line-left">
          <p>ランク</p>
        </div>
        <div class="form-line-right">
          <p><%= @user.rank.present? ? @user.rank : "未設定" %></p>
        </div>
      </div>
      <div class="form-line">
        <div class="form-line-left">
          <p>ウデマエ</p>
        </div>
        <div class="form-line-right">
          <p><%= @user.prowess.present? ? @user.prowess : "未設定" %></p>
        </div>
      </div>
      <div class="form-line">
        <div class="form-line-left">
          <p>メールアドレス</p>
        </div>
        <div class="form-line-right">
          <p><%= @user.email %></p>
        </div>
      </div>
      <div class="form-line">
        <div class="form-line-left">
          <p>パスワード</p>
        </div>
        <div class="form-line-right">
          <p>**********</p>
        </div>
      </div>
      <%= link_to "&gt; 編集する".html_safe, edit_user_registration_path, class: "button top-button posts-button", "data-turbolinks": false %>
    </div>
  </div>
</div>
