<% provide(:title, "#{@user.name}のプロフィール") %>
<% breadcrumb :users_show, @user %>
<div class="whole">
  <%= render "shared/flash_messages" %>
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <div class="title-container-first-line">
        <div class="title-container-first-line-left">
          <% if @user.image.present? %>
            <%= image_tag @user.image, alt: "#{@user.name}のユーザーアイコン" %>
          <% else %>
            <%= image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン" %>
          <% end %>
        </div>
        <div class="title-container-first-line-right">
          <div class="follow_button_<%= @user.id %>">
            <%= render "follows/follow", user: @user %>
          </div>
        </div>
      </div>
      <h2><%= @user.name %></h2>
      <p><%= @user.profile %></p>
      <div class="title-container-footer">
        <ul>
          <div class="vertical-border"></div>
          <li>
            投稿数<br>
            <span class="font-weight-bold">
              <%= @user.posts.count %>
            </span>
          </li>
          <div class="vertical-border"></div>
          <li>
            被お気に入り数<br>
            <span class="font-weight-bold">
              <% sum = 0 %>
              <% @user.posts.each do |post| %>
                <% sum += post.favorites.count %>
              <% end %>
              <%= sum %>
            </span>
          </li>
          <div class="vertical-border"></div>
          <li>
            ランク<br>
            <span class="font-weight-bold">
              <%= @user.rank.present? ? @user.rank : "未設定" %>
            </span>
          </li>
          <div class="vertical-border"></div>
          <li>
            ウデマエ<br>
            <span class="font-weight-bold">
              <%= @user.prowess.present? ? @user.prowess : "未設定" %>
            </span>
          </li>
          <div class="vertical-border"></div>
        </ul>
        <div class="follow-counts-users-show">
          <%= link_to "#{@user_following.count} フォロー", user_followings_path(@user) %>
          <%= link_to "#{@user_followed.count} フォロワー", user_followers_path(@user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="toggle-radio toggle-radio-users">
      <%= radio_button_tag "toggle", "posts", checked: "checked" %>
      <%= label_tag "toggle_posts", "投稿" %>
      <%= radio_button_tag "toggle", "favorites" %>
      <%= label_tag "toggle_favorites", "お気に入り" %>
    </div>
    <div class="main-container">
      <div class="toggle toggle-posts">
        <h3 class="main-container-h3"><%= @user.name %>の投稿</h3>
        <div class="posts">
          <% if @user.posts.present? %>
            <%= render partial: "posts/post", collection: @user.posts, as: "post" %>
          <% else %>
            <div class="no-post-message">
              <p>まだ投稿はありません。</p>
              <% if @user === current_user %>
                <%= link_to "＋投稿する", new_post_path, class: "to-new-post-button hover-transform" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="toggle toggle-favorites">
        <h3 class="main-container-h3"><%= @user.name %>のお気に入り</h3>
        <div class="posts">
          <% if @user.favorites.present? %>
            <%= render partial: "users/user_favorite", collection: @user_favorites %>
          <% else %>
            <div class="no-post-message">
              <p>まだお気に入りはありません。</p>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to "&lt; ユーザー一覧に戻る".html_safe, list_users_path, class: "button top-button posts-button" %>
    </div>
  </div>
</div>
<%= link_to "＋投稿する", new_post_path, class: "fixed_to_post_link" %>
<%= javascript_pack_tag 'users/toggle' %>
