<header>
  <div class="header-container">
    <div class="header-left">
      <%= link_to "HOME", root_path %>
      <%= link_to "投稿一覧", "#" %>
      <%= link_to "ユーザー一覧", "#" %>
      <%= link_to "ギアパワー解説", gear_powers_path %>
    </div>
    <div class="header-right">
      <%= link_to "ログイン", new_user_session_path, "data-turbolinks": false %>
      <%= link_to "ゲストログイン", "#" %>
      <%= link_to "新規登録", new_user_registration_path, "data-turbolinks": false %>
    </div>
  </div>
</header>
<div class="under-header"></div>
