<header>
  <div class="header-container">
    <div class="header-left">
      <%= link_to "HOME", root_path %>
      <%= link_to "投稿一覧", "#" %>
      <%= link_to "ユーザー一覧", "#" %>
      <%= link_to "ギアパワー解説", "#" %>
    </div>
    <div class="header-right">
      <%= link_to "ログイン", "#" %>
      <%= link_to "新規登録", "#" %>
    </div>
  </div>
</header>
<div class="under-header"></div>
