<header>
  <div class="header-container">
    <div class="header-left">
      <%= link_to root_path, class: "header-home" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <%= link_to "投稿", posts_path %>
      <%= link_to "ユーザー", list_users_path %>
      <%= link_to "ギアパワー", gear_powers_path %>
      <div class="header-search">
        <%= search_form_for @q_post, url: search_posts_path do |f| %>
          <div class="header-search-forms">
            <div class="header-search-form">
              <%= f.search_field :title_or_user_name_or_weapon_or_battle_cont, placeholder: "キーワードで投稿を検索" %>
              <i class="fa-solid fa-magnifying-glass font-awesome-color-black"></i>
            </div>
            <div class="header-hidden-form">
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "S" %>S
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "A" %>A
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "B" %>B
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "C" %>C
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "未設定" %>未設定
              </label>
            </div>
            <div class="header-search-submit">
              <%= f.submit "検索", class: "hover-opacity" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="header-right">
      <% if current_user.present? %>
        <%= link_to "投稿する", new_post_path, "data-turbolinks": false %>
        <span class="nav_toggle">
          <% if current_user.image.present? %>
            <%= image_tag current_user.image, alt: "#{current_user.name}のユーザーアイコン" %>
          <% else %>
            <%= image_tag "/user_image/user_image_default_bk.png", alt: "デフォルトユーザーアイコン" %>
          <% end %>
          <%= current_user.name %><i class="fas fa-caret-down header-triangle"></i>
        </span>
        <nav class="nav">
          <ul>
            <li class="nav_menu_li"><%= link_to "マイページ", user_path(current_user) %></li>
            <li class="nav_menu_li"><%= link_to "設定", account_users_path %></li>
            <li class="nav_menu_li"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしてよろしいですか？" } %></li>
            <li class="nav_menu_li"><%= link_to "退会", registration_path(current_user), method: :delete, data: { confirm: "アカウントを削除してよろしいですか？" } %></li>
          </ul>
        </nav>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, "data-turbolinks": false %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
        <%= link_to "新規登録", new_user_registration_path, "data-turbolinks": false %>
      <% end %>
    </div>
  </div>
</header>
<div class="under-header"></div>
