<div class="flash-top">
  <%= render "shared/flash_messages" %>
</div>
<div class="top">
  <div class="top-title-area">
    <div class="top-title-container">
      <h1 class="top-h1-pc">スプラトゥーン3 ギア編成投稿所</h1>
      <h1 class="top-h1-tb">スプラトゥーン3</h1>
      <h1 class="top-h1-tb">ギア編成投稿所</h1>
      <p class="top-p">スプラトゥーン3 ギア編成投稿所では、君のイカしたギア編成を投稿できるぞ！</p>
      <p class="top-p">みんなの投稿を見て、イカしたギア編成を見つけたらお気に入り登録しておこう！</p>
      <% if user_signed_in? %>
        <div class="top-buttons-header">
          <%= link_to "> ギア編成を投稿する", new_post_path, class: "button top-button top-button-first", "data-turbolinks": false %>
        </div>
      <% else %>
        <div class="top-buttons-header">
          <%= link_to "> 新規登録してギア編成を投稿する", new_user_registration_path, class: "button top-button top-button-first", "data-turbolinks": false %>
        </div>
        <div class="top-buttons-footer">
          <%= link_to "> ログインはこちら", new_user_session_path, class: "button top-button top-button-second", "data-turbolinks": false %>
          <%= link_to "> ゲストログインはこちら", users_guest_sign_in_path, method: :post, class: "button top-button" %>
        </div>
      <% end %>
      <hr class="top-title-hr">
      <div class="top-search-area">
        <h2>＼キーワードで投稿を検索／</h2>
        <%= search_form_for @q_post, url: search_posts_path do |f| %>
          <div class="top-search-forms">
            <div class="top-search-form">
              <%= f.search_field :title_or_user_name_or_weapon_or_battle_cont, placeholder: "投稿名、投稿者、ブキ、バトル" %>
              <i class="fa-solid fa-magnifying-glass font-awesome-color-black"></i>
            </div>
            <div class="top-hidden-form">
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "S" %>S
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "A" %>A
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "B" %>B
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "C" %>C
              </label>
              <label>
                <%= f.check_box :user_prowess_cont_any, { multiple: true, checked: true }, "未設定" %>未設定
              </label>
            </div>
            <div class="top-search-submit">
              <%= f.submit "検索", class: "hover-opacity" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="posts-area">
    <div class="posts-container">
      <h2>- 新着投稿 -</h2>
      <div class="posts">
        <%= render @posts %>
      </div>
      <%= link_to "&gt; 投稿一覧を見る".html_safe, posts_path, class: "button posts-button" %>
    </div>
  </div>
  <div class="users-area">
    <div class="users-container">
      <h2>- 新着ユーザー -</h2>
      <div class="users users-color-ye">
        <%= render @users %>
      </div>
      <%= link_to "&gt; ユーザー一覧を見る".html_safe, list_users_path, class: "button users-button" %>
    </div>
  </div>
  <div class="gear-powers-area">
    <div class="gear-powers-container">
      <h2>- ギアパワー解説 -</h2>
      <div class="gear-powers-table">
        <table>
          <tbody>
            <% @gear_powers.each_slice(2) do |gear_power| %>
              <tr>
                <td>
                  <%= link_to gear_power_path(gear_power.first), class: "hover-textdecoration hover-brightness" do %>
                    <div class="gear-powers-table-td">
                      <%= image_tag "/gear_powers/gear_power_#{gear_power.first.id}.png", alt: "#{gear_power.first.name}のアイコン" %>
                      <%= gear_power.first.name %>
                    </div>
                  <% end %>
                </td>
                <td>
                  <% if gear_power.first.name != gear_power.last.name %>
                    <%= link_to gear_power_path(gear_power.last), class: "hover-textdecoration hover-brightness" do %>
                      <div class="gear-powers-table-td">
                        <%= image_tag "/gear_powers/gear_power_#{gear_power.last.id}.png", alt: "#{gear_power.last.name}のアイコン" %>
                        <%= gear_power.last.name %>
                      </div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to "> ギアパワー一覧を見る", gear_powers_path, class: "top-button gear-powers-button button" %>
    </div>
  </div>
</div>
<%= link_to "＋投稿する", new_post_path, class: "fixed_to_post_link" %>
