<div class="flash-blue flash-top">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
</div>
<div class="flash-red flash-top">
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>
<div class="top">
  <div class="top-title-area">
    <div class="top-title-container">
      <h1 class="top-h1-pc">スプラトゥーン3 ギア編成投稿所</h1>
      <h1 class="top-h1-tb">スプラトゥーン3</h1>
      <h1 class="top-h1-tb">ギア編成投稿所</h1>
      <p class="top-p">スプラトゥーン3 ギア編成投稿所では、君のイカしたギア編成を投稿できるぞ！</p>
      <p class="top-p">みんなの投稿を見て、イカしたギア編成を見つけたらお気に入り登録しておこう！</p>
      <div class="top-buttons-header">
        <%= link_to "> 新規登録してギア編成を投稿する", new_user_registration_path, class: "button top-button top-button-first", "data-turbolinks": false %>
      </div>
      <div class="top-buttons-footer">
        <%= link_to "> ログインはこちら", new_user_session_path, class: "button top-button top-button-second", "data-turbolinks": false %>
        <%= link_to "> ゲストログインはこちら", "#", class: "button top-button" %>
      </div>
      <hr class="top-title-hr">
      <div class="top-search-area">
        <h2>＼ブキ名で投稿を検索／</h2>
        <div class="top-search-form">
          <input type="text" placeholder="ブキ名を入力">
          <i class="fa-solid fa-magnifying-glass font-awesome-color-black"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="posts-area">
    <div class="posts-container">
      <h2>- 人気投稿 -</h2>
      <div class="posts">
        <div class="post">
          <div class="post-container">
            <div class="post-header-pc">
              <div class="post-left">
                <div class="post-title">
                  <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
                </div>
                <div class="post-recommend">
                  <p>おすすめブキ：シャープマーカー</p>
                  <p>おすすめエリア：ガチエリア</p>
                </div>
              </div>
              <div class="post-right">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-user-info">
                  <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                  <p class="post-user-time">10月20日(木)15:15</p>
                </div>
              </div>
            </div>
            <div class="post-header-sp">
              <div class="post-header-sp-user">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-header-sp-text">
                  <div class="post-user-info">
                    <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                    <p class="post-user-time">10月20日(木)</p>
                  </div>
                  <div class="post-recommend">
                    <p>おすすめブキ：シャープマーカー</p>
                    <p>おすすめエリア：ガチエリア</p>
                  </div>
                </div>
              </div>
              <div class="post-title">
                <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
              </div>
            </div>
            <div class="post-center">
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-hat-cowboy font-awesome-color-black"></i>
                  <p>アタマ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shirt font-awesome-color-black"></i>
                  <p>フク</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shoe-prints font-awesome-color-black"></i>
                  <p>クツ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <%= link_to "#" do %>
                <div class="post-bookmark hover-color-red hover-i-color-red">
                  <i class="far fa-bookmark font-awesome-color-black font-awesome-size-105"></i>
                  <p>17件</p>
                </div>
              <% end %>
              <div class="post-to-show">
                <%= link_to "> 編成詳細へ", "#", class: "hover-textdecoration" %>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-container">
            <div class="post-header-pc">
              <div class="post-left">
                <div class="post-title">
                  <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
                </div>
                <div class="post-recommend">
                  <p>おすすめブキ：シャープマーカー</p>
                  <p>おすすめエリア：ガチエリア</p>
                </div>
              </div>
              <div class="post-right">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-user-info">
                  <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                  <p class="post-user-time">10月20日(木)15:15</p>
                </div>
              </div>
            </div>
            <div class="post-header-sp">
              <div class="post-header-sp-user">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-header-sp-text">
                  <div class="post-user-info">
                    <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                    <p class="post-user-time">10月20日(木)</p>
                  </div>
                  <div class="post-recommend">
                    <p>おすすめブキ：シャープマーカー</p>
                    <p>おすすめエリア：ガチエリア</p>
                  </div>
                </div>
              </div>
              <div class="post-title">
                <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
              </div>
            </div>
            <div class="post-center">
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-hat-cowboy font-awesome-color-black"></i>
                  <p>アタマ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shirt font-awesome-color-black"></i>
                  <p>フク</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shoe-prints font-awesome-color-black"></i>
                  <p>クツ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <%= link_to "#" do %>
                <div class="post-bookmark hover-color-red hover-i-color-red">
                  <i class="far fa-bookmark font-awesome-color-black font-awesome-size-105"></i>
                  <p>17件</p>
                </div>
              <% end %>
              <div class="post-to-show">
                <%= link_to "> 編成詳細へ", "#", class: "hover-textdecoration" %>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-container">
            <div class="post-header-pc">
              <div class="post-left">
                <div class="post-title">
                  <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
                </div>
                <div class="post-recommend">
                  <p>おすすめブキ：シャープマーカー</p>
                  <p>おすすめエリア：ガチエリア</p>
                </div>
              </div>
              <div class="post-right">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-user-info">
                  <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                  <p class="post-user-time">10月20日(木)15:15</p>
                </div>
              </div>
            </div>
            <div class="post-header-sp">
              <div class="post-header-sp-user">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-header-sp-text">
                  <div class="post-user-info">
                    <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                    <p class="post-user-time">10月20日(木)</p>
                  </div>
                  <div class="post-recommend">
                    <p>おすすめブキ：シャープマーカー</p>
                    <p>おすすめエリア：ガチエリア</p>
                  </div>
                </div>
              </div>
              <div class="post-title">
                <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
              </div>
            </div>
            <div class="post-center">
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-hat-cowboy font-awesome-color-black"></i>
                  <p>アタマ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shirt font-awesome-color-black"></i>
                  <p>フク</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shoe-prints font-awesome-color-black"></i>
                  <p>クツ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <%= link_to "#" do %>
                <div class="post-bookmark hover-color-red hover-i-color-red">
                  <i class="far fa-bookmark font-awesome-color-black font-awesome-size-105"></i>
                  <p>17件</p>
                </div>
              <% end %>
              <div class="post-to-show">
                <%= link_to "> 編成詳細へ", "#", class: "hover-textdecoration" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "#" do %>
        <div class="button top-button posts-button">
          <p>> 人気投稿をもっと見る</p>
        </div>
      <% end %>
    </div>

    <div class="posts-container">
      <h2>- 新着投稿 -</h2>
      <div class="posts">
        <div class="post">
          <div class="post-container">
            <div class="post-header-pc">
              <div class="post-left">
                <div class="post-title">
                  <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
                </div>
                <div class="post-recommend">
                  <p>おすすめブキ：シャープマーカー</p>
                  <p>おすすめエリア：ガチエリア</p>
                </div>
              </div>
              <div class="post-right">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-user-info">
                  <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                  <p class="post-user-time">10月20日(木)15:15</p>
                </div>
              </div>
            </div>
            <div class="post-header-sp">
              <div class="post-header-sp-user">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-header-sp-text">
                  <div class="post-user-info">
                    <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                    <p class="post-user-time">10月20日(木)</p>
                  </div>
                  <div class="post-recommend">
                    <p>おすすめブキ：シャープマーカー</p>
                    <p>おすすめエリア：ガチエリア</p>
                  </div>
                </div>
              </div>
              <div class="post-title">
                <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
              </div>
            </div>
            <div class="post-center">
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-hat-cowboy font-awesome-color-black"></i>
                  <p>アタマ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shirt font-awesome-color-black"></i>
                  <p>フク</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shoe-prints font-awesome-color-black"></i>
                  <p>クツ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <%= link_to "#" do %>
                <div class="post-bookmark hover-color-red hover-i-color-red">
                  <i class="far fa-bookmark font-awesome-color-black font-awesome-size-105"></i>
                  <p>17件</p>
                </div>
              <% end %>
              <div class="post-to-show">
                <%= link_to "> 編成詳細へ", "#", class: "hover-textdecoration" %>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-container">
            <div class="post-header-pc">
              <div class="post-left">
                <div class="post-title">
                  <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
                </div>
                <div class="post-recommend">
                  <p>おすすめブキ：シャープマーカー</p>
                  <p>おすすめエリア：ガチエリア</p>
                </div>
              </div>
              <div class="post-right">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-user-info">
                  <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                  <p class="post-user-time">10月20日(木)15:15</p>
                </div>
              </div>
            </div>
            <div class="post-header-sp">
              <div class="post-header-sp-user">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-header-sp-text">
                  <div class="post-user-info">
                    <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                    <p class="post-user-time">10月20日(木)</p>
                  </div>
                  <div class="post-recommend">
                    <p>おすすめブキ：シャープマーカー</p>
                    <p>おすすめエリア：ガチエリア</p>
                  </div>
                </div>
              </div>
              <div class="post-title">
                <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
              </div>
            </div>
            <div class="post-center">
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-hat-cowboy font-awesome-color-black"></i>
                  <p>アタマ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shirt font-awesome-color-black"></i>
                  <p>フク</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shoe-prints font-awesome-color-black"></i>
                  <p>クツ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <%= link_to "#" do %>
                <div class="post-bookmark hover-color-red hover-i-color-red">
                  <i class="far fa-bookmark font-awesome-color-black font-awesome-size-105"></i>
                  <p>17件</p>
                </div>
              <% end %>
              <div class="post-to-show">
                <%= link_to "> 編成詳細へ", "#", class: "hover-textdecoration" %>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-container">
            <div class="post-header-pc">
              <div class="post-left">
                <div class="post-title">
                  <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
                </div>
                <div class="post-recommend">
                  <p>おすすめブキ：シャープマーカー</p>
                  <p>おすすめエリア：ガチエリア</p>
                </div>
              </div>
              <div class="post-right">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-user-info">
                  <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                  <p class="post-user-time">10月20日(木)15:15</p>
                </div>
              </div>
            </div>
            <div class="post-header-sp">
              <div class="post-header-sp-user">
                <div class="post-user-icon">
                  <%= link_to (image_tag "/user_image/user_image_default_ye.png", alt: "デフォルトユーザーアイコン"), "#", class: "hover-opacity" %>
                </div>
                <div class="post-header-sp-text">
                  <div class="post-user-info">
                    <%= link_to "ユーザー名ユーザー名ユー", "#", class: "hover-textdecoration" %>
                    <p class="post-user-time">10月20日(木)</p>
                  </div>
                  <div class="post-recommend">
                    <p>おすすめブキ：シャープマーカー</p>
                    <p>おすすめエリア：ガチエリア</p>
                  </div>
                </div>
              </div>
              <div class="post-title">
                <%= link_to "編成名編成名編成名編成名", "#", class: "hover-textdecoration" %>
              </div>
            </div>
            <div class="post-center">
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-hat-cowboy font-awesome-color-black"></i>
                  <p>アタマ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shirt font-awesome-color-black"></i>
                  <p>フク</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
              <div class="post-center-one">
                <div class="post-gearcategory">
                  <i class="fa-solid fa-shoe-prints font-awesome-color-black"></i>
                  <p>クツ</p>
                </div>
                <hr class="post-hr">
                <div class="post-gearpowers">
                  <div class="post-main-gearpower">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                  <div class="post-sub-gearpowers">
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                    <%= image_tag "/gear_powers/gear_power_sample.png", alt: "ギアパワー", class: "hover-brightness" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <%= link_to "#" do %>
                <div class="post-bookmark hover-color-red hover-i-color-red">
                  <i class="far fa-bookmark font-awesome-color-black font-awesome-size-105"></i>
                  <p>17件</p>
                </div>
              <% end %>
              <div class="post-to-show">
                <%= link_to "> 編成詳細へ", "#", class: "hover-textdecoration" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "#" do %>
        <div class="button top-button posts-button">
          <p>> 新着投稿をもっと見る</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="users-area">
    <div class="users-container">
      <h2>- 人気ユーザー -</h2>
      <div class="users">
        <%= render partial: "users/user", collection: @users %>
      </div>
      <%= link_to "#" do %>
        <div class="button top-button users-button">
          <p>> 人気ユーザーをもっと見る</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="gear-powers-area">
    <div class="gear-powers-container">
      <h2>- ギアパワー解説 -</h2>
      <div class="gear-powers-table">
        <table>
          <tbody>
            <% @gear_powers.each_slice(2) do |gear_power| %>
              <tr>
                <td>
                  <%= link_to gear_power_path(gear_power.first), class: "hover-textdecoration hover-brightness" do %>
                    <div class="gear-powers-table-td">
                      <%= image_tag "/gear_powers/gear_power_#{gear_power.first.id}.png", alt: "#{gear_power.first.name}のアイコン" %>
                      <%= gear_power.first.name %>
                    </div>
                  <% end %>
                </td>
                <td>
                  <% if gear_power.first.name != gear_power.last.name %>
                    <%= link_to gear_power_path(gear_power.last), class: "hover-textdecoration hover-brightness" do %>
                      <div class="gear-powers-table-td">
                        <%= image_tag "/gear_powers/gear_power_#{gear_power.last.id}.png", alt: "#{gear_power.last.name}のアイコン" %>
                        <%= gear_power.last.name %>
                      </div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to "> ギアパワー一覧を見る", gear_powers_path, class: "top-button gear-powers-button button" %>
    </div>
  </div>
</div>
