<% provide(:title, "投稿") %>
<% breadcrumb :posts_index %>
<div class="whole">
  <%= render "shared/flash_messages" %>
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <h2>投稿一覧</h2>
      <p>投稿一覧では、他のユーザーが投稿したギア編成を見ることができます。投稿を絞り込む場合は、検索機能をお使いください。</p>
      <p>総投稿数：<%= @posts.count %>件</p>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <div class="posts">
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>
<%= link_to "＋投稿する", new_post_path, class: "fixed_to_post_link" %>
