<% provide(:title, "投稿検索結果") %>
<% breadcrumb :posts_index %>
<div class="whole">
  <%= render "shared/flash_messages" %>
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <h2>投稿一覧</h2>
      <p>投稿一覧では、他のユーザーが投稿したギア編成を見ることができます。投稿を絞り込む場合は、検索機能をお使いください。</p>
      <p>検索結果：<%= @results.count %>件</p>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <div class="posts-search">
          <div class="posts-search-container">
            <div>
              <div class="posts-search-form">
                <%= f.label :title_or_user_name_cont, "キーワード", class: "parent-label" %>
                <%= f.search_field :title_or_user_name_cont, placeholder: "投稿者、タイトル" %>
              </div>
              <div class="posts-search-form">
                <%= f.label :user_prowess_cont_any, "投稿者ウデマエ", class: "parent-label" %>
                <div class="label-in-label">
                  <label>
                    <%= f.check_box :user_prowess_cont_any, { multiple: true }, "S" %>S
                  </label>
                  <label>
                    <%= f.check_box :user_prowess_cont_any, { multiple: true }, "A" %>A
                  </label>
                  <label>
                    <%= f.check_box :user_prowess_cont_any, { multiple: true }, "B" %>B
                  </label>
                  <label>
                    <%= f.check_box :user_prowess_cont_any, { multiple: true }, "C" %>C
                  </label>
                  <label>
                    <%= f.check_box :user_prowess_cont_any, { multiple: true }, "未設定" %>未設定
                  </label>
                </div>
              </div>
              <div class="posts-search-form">
                <%= f.label :weapon_eq, "ブキ", class: "parent-label" %>
                <%= f.select :weapon_eq, grouped_options_for_select(Post::SELECT_WEAPON_OPTIONS), { prompt: "未選択" } %>
              </div>
              <div class="posts-search-form">
                <%= f.label :battle_eq, "バトル", class: "parent-label" %>
                <%= f.select :battle_eq, ["ナワバリバトル", "ガチエリア", "ガチヤグラ", "ガチホコ", "ガチアサリ"], { prompt: "未選択" } %>
              </div>
            </div>
            <div class="posts-search-submit">
              <%= f.submit "検索", class: "hover-transform" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="posts">
        <% if @results.present? %>
          <%= render partial: "posts/post", collection: @results, as: "post" %>
        <% else %>
          <p class="search-message">条件に一致する検索はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to "＋投稿する", new_post_path, class: "fixed_to_post_link" %>
